@page "/jobs"

@using Microsoft.AspNetCore.SignalR.Client
@using Clockwerkz.Infrastructure.Comparers;
@using Clockwerkz.Application.Notifications;
@using Clockwerkz.Application.Jobs.Models;
@using Clockwerkz.Application.Jobs.Queries;
@using Clockwerkz.Application.Jobs.Commands;
@using System;

@inject NavigationManager NavigationManager
@inject MediatR.IMediator Mediator

@code {

    private HubConnection _hubConnection;
    private SortedSet<JobListDto> jobs;
    private string _userInput;
    private string _messageInput;

    private string _jobFilter;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/notificationService"))
            .Build();

        _hubConnection.On<JobListDto>(JobScheduledNotificationMessage.Event, jobListDto =>
        {
            if (jobListDto != null)
            {
                jobs.Add(jobListDto);
                StateHasChanged();
            }
        });

        await _hubConnection.StartAsync();

        jobs = new SortedSet<JobListDto>(
            await Mediator.Send(new ListJobsQuery()),
            new JobListDtoComparer());
    }

    public async Task ScheduleJob()
    {
        var command = new ScheduleJobCommand
        {
            JobName = "Chicken_" + Guid.NewGuid().ToString(),
            GroupName = "Test",
            JobDataMap = new Dictionary<string, object>(),
            StartImmediately = false
        };

        var createdJob = await Mediator.Send(command);
        await _hubConnection.SendAsync("JobScheduled", createdJob);
    }

    private string DateTimeFromBinary(long? fileTimeUtc)
    {
        if (fileTimeUtc.HasValue)
        {
            var parsedDate = DateTime.FromBinary(fileTimeUtc.Value);
            return TimeZoneInfo.ConvertTimeFromUtc(parsedDate, TimeZoneInfo.Local).ToString();
        }

        return "N/A";
    }
}

<h1>Jobs</h1>
<div class="flex-row">
    <MatButton Icon="@MatIconNames.Schedule" Outlined="true" OnClick="ScheduleJob">Schedule test 1</MatButton>    
</div>
<br />
@if (jobs == null)
{
    <p><em>Loading jobs...</em></p>
}
else
{    
    <MatTable Items="@jobs" PageSize="jobs.Count" ShowPaging="false" Striped="true" class="mat-elevation-z5" FilterByColumnName="JobName" >
        <MatTableHeader>
            <th>State</th>
            <th>Group</th>
            <th>Name</th>
            <th>PreviousFireTime</th>
            <th>NextFireTime</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.State</td>
            <td>@context.JobGroup</td>
            <td>@context.JobName</td>
            <td>@DateTimeFromBinary(context.PreviousFireTime)</td>
            <td>@DateTimeFromBinary(context.NextFireTime)</td>
        </MatTableRow>
    </MatTable>
}
